@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 20px;
    --color-title-card: #353C57;
}

body{
    margin: o;
    font-family: 'PT Sans', sans-serif;
    background-color: #FBE4FF;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header-top{
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}

.logo{
display: flex;
align-items: center;
}

.header-top__nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70%;
    text-align: center;
}

.header-top__nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.header-top__nav-item > img{
    display: flex;
    justify-content: space-between;
}

.title{
    background-color: #BFF0FF;
}

.title h2{
    font-weight: 400;
    margin: 0;
    font-size: 2.4rem;
    font-style: italic;
    padding: 1rem 0;
    font-weight: 400;
}

.list{
    background-color: #FFFFFF;
    padding: .5rem;
    margin: 1rem;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
} 

.list::after{
    content: url("../img/arrow.svg ");
    position: absolute;
    right: 1rem;
    top: 20%;
}

 .card{
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    position: relative;
    margin-bottom: 2.1rem;
 }

 .card > .card-img{
    width: 30%;
 }

 .card-img > img{
    width: 100%;
    min-height: 100%;
 }

 .card > .card-description{
    width: 50%;
 }

 .card .card-description__title{
    font-weight: 700;
     font-style: italic;
     font-size: 1.8rem;
     border-bottom: 3px solid white;
     color: var(--color-title-card);
 }

 .card .card-description__content{
    background-color: #EDFBFF;
    padding: 1.2rem;
    box-sizing: border-box;
    text-align: left;
    margin-top: .3rem;
 }

 .card .star, .card .btn{
    position: absolute;
 }

 .card .btn{
    display: inline-block;
    top: 78%;
    right: -4%;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 24px;
 }

 .card .star{
    top: 6px;
    right: 10px;
 }