@import url('<link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter&family=M+PLUS+1&family=Marcellus&family=Marcellus+SC&family=Roboto:wght@400;700&display=swap" rel="stylesheet">');

body{
    text-align: center;
    margin: o;
}

.default_container{
    max-width: 1000px;
}

/*header*/
.blue{
    font-family:'M PLUS 1', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #3E45E8;
    text-transform: uppercase;
}
.yellow{
    font-family:'M PLUS 1', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #E8C23E;
    text-transform: uppercase;
}

.background{
    background-image: url('../img/фонове\ зображення.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
    width: 1000px;
}
.background div{
    display: inline-block;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px;
}
.background div img{
    padding-left: 50px;
}
.background div p{
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    width: 900px;
    padding-left: 10px;
}

.place_cotainer{
    max-width: 1000px;
    margin: auto;
}
.place_logo{
    padding-top: 30px;
    text-align: left;
}
.place_logo h2{
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0%;
    padding-left: 80px;
}

/*main*/

.cards{
    padding-top: 30px;
    display: inline-block;
}
.cards a{
    padding-left: 30px;
}
.card{
    display: inline-block;
    border: 3px solid #0D095F;
    border-radius: 35px;
    width: 290px;
    height:380px;
}
.card1{
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card2{
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}
.card3{
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}
.card1 img{
    width: 292px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.card2 img{
    width: 292px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.card3 img{
    width: 292px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.card h3{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #0072DB;
    padding-left: 15px;
}
.card p{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FF9900;
    padding-left: 15px;
}

.winheader h2{
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 35px 35px 0px 35px;
}
.winheader div{
    border-bottom: 5px solid #1400FF;
    width: 500px;
    margin-left: 250px;
    margin-bottom: 35px;
}
.bottom {
    background-image: url('../img/Rectangle\ 6.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    text-align: center;
    margin: 20px;
}
.bottom span{
    font-family:'Inika', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}

/*footer*/

footer{
    background-image: url('../img/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: 100vh;
    text-align: center;
    width: 1000px;
    display: inline-block;
}
.contact h2{
    margin: 1px;
}
.contact div{
    font-family: 'Marcellus SC', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #A89D9D;
    margin: 1px;
}
.contact div a{
    color: #A89D9D;
    text-decoration: none;
}
.contact nav{
    margin: 5px;
}
.contact nav a{
    color: #A89D9D;
}