@import url('<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz,wght@8..144,600&family=Roboto+Mono:wght@600&family=Roboto+Serif:opsz,wght@8..144,600&family=Roboto+Slab:wght@600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">');


.header{
    background-color: rgb(0, 255, 221);
    background-image: url("../img/фон.png");
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    height: 700px;
    width: 1500px;
}

.header>img{
    position: relative;
    top: 144px;
}

.title{
    font-family: 'Inter', sans-serif;
    margin: 32px 112px;
    font-weight: 400;
    font-size: 40px;
}

/*main*/

main{
    position: relative;
}

.cards{
    position: relative;
    text-align: center;
    width: 1500px;
}

.card{
    background-color: #231B0C;
    display: inline-block;
    width: 400px;
    height: 460 px;
    margin: 19px;
}

.card1, .card2, .card3{
    border: 0px, solid, #231B0C;
    text-align: center;
}

.context{
    margin: 37px auto;
}

.conimg{
    margin: 66px auto;
}

.img{
    position: relative;
    margin: 41px 112px;
}

/*footer*/

footer{
    background-color: #150F02;
    width: 1500px
}

.content{
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 39px 0 0 377px;
    padding: 0 7px;
}

.contacts h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 6px;
}

.contacts div{
    border-bottom: 10px solid #FF6B00;
    width: 318px;
    position: relative;
    left: 591px;
}

.icons {
    text-align: center;
    margin: 20px auto 61px;
}

.icons a{
    text-decoration: none;
    margin: 0 16px;
}